
<div class="container-fluid">


<div class="p-3 mb-2 bg-warning text-dark">




  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon my-3">
    <%= link_to "#", class: "navbar-brand" do %>

    <%= image_tag "log.jpg" %>
      <%= image_tag "elites.png" %>


    <div class="text-center">

    <div class="p-0" > <a class="btn btn-primary" href="About" role="button">About Us</a>


     <%# <div class="p-0"><h6>Lagos Elites Lions Club International</h6></div> %>

     </div>



    <div class="d-flex justify-content-start">
    <div class="d-flex flex-row mb-3">
    <div class="vstack gap-0"  style="grid-template-columns: 1fr 1fr;" class="d-grid gap-0 row-gap-3">




</div>

   </div>




</div>
</div>
<div class="d-flex flex-row-reverse">
  <div class="p-1"></div>

</div>
    <% end %>






<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="Gallary" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activity
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="Gallary">photos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="contact">Contact Address</a></li>
             <li><a class="dropdown-item" href="member">Member</a></li>
              <li><a class="dropdown-item" href="investiture">investiture 2025 photo</a></li>
               <li><a class="dropdown-item" href="community_work">community work</a></li>
          </ul>
        </li>






      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<a class="btn btn-success" href="impact" role="button">Our Impact</a>

<a class="btn btn-primary" href="join us" role="button">Join Us</a>
  <%# <a class="btn btn-primary" href="contact" role="button">Gallary</a> %>
  <a class="btn btn-warning" href="Donation" role="button">Donate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    </div>


<%#
<div class="p-0" > <a class="btn btn-primary" href=  "http://localhost:3000/" role="button">Home</a>
<svg xmlns="http://localhost:3000/" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
 %>





<div class="p-5">
<div class="p-5">
<div class="p-5">


<strong>
<div class>CONTACT ADDRESS<br>
</strong>
29, Olayeni Abiola street Opebi Ikeja <br>
Lagos State<b>
Ngeria.<br>
Tel:+2348034145957 <br>
Email:Lagoseliteslionclub@gmail.com<br>
Website:www.lagoseliteslionclub.com

</div class>
</div>
</div>
</div>

</div>



<div class="p-5">
<div class="p-5">


<div class="card-category">   <div class="text-bg-dark p-5">

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3">News</div>
    </div>
    <div class="col">
      <div class="p-3">Media</div>
    </div>
    <div class="col">
      <div class="p-3">Connect</div>
    </div>
    <div class="col">
      <div class="p-3">Press Center</div>
    </div>
    <div class="col">
      <div class="p-3">The lions Blog</div>
    </div>
    <div class="col">
      <div class="p-3">Lions Magazine</div>
    </div>
    <div class="col">
    <div class="p-3"></div>Video Center</div>
    <div class="col">
      <div class="p-3">Lagos</div>
    </div>
    <div class="col">
      <div class="p-3">Contact LCIF</div>
    </div>
    <div class="col">
      <div class="p-3">Your Privacy</div>
    </div>
  </div>




<div class="d-flex flex-nowrap">
  <div class="order-3 p-2"><a href="https://github.com"><i class="fab fa-github"></i></a></div>
  <div class="order-2 p-2"> <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
  <div class="order-1 p-2">   <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></div>


   <div class="order-1 p-2">    <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></i></a></i></a></div>

</div>



</div>


    </div>
  </div>


    <div class="col-12 col-lg-4">
    </div>

  </div>
</div>
